.navbar {
  top: 0;
  background: #ffffff;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  text-align: center;
}
.navbar .navbar-brand {
  text-align: left;
  width: 20%;
}
.navbar .navbar-brand img {
  height: 30px;
  width: auto;
}
.navbar .navbar-brand:hover {
  color: #0a0a0a;
}
.navbar .navbar-toggler {
  padding: 0;
}
.navbar .navbar-toggler i {
  font-size: 32px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-collapse {
  position: relative;
  width: 60%;
  text-align: center;
  left: -10px;
}
.navbar .navbar-nav {
  margin-right: auto;
  margin-left: auto;
}
.navbar .navbar-nav li {
  padding: 0 10px;
}
.navbar .navbar-nav li a {
  color: #0a0a0a;
  font-weight: 500;
}
.navbar .navbar-nav li a:hover {
  color: #ff7a42;
}
.navbar .navbar-nav li .button {
  color: #fff;
  margin-top: -3px;
  display: inline-block;
  margin-right: -15px;
}
.navbar .button-navbar {
  width: 20%;
  float: right;
  text-align: right;
}
.navbar .button-navbar li {
  display: inline-block;
  margin-left: 15px;
}

.navbar-fixed {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0);
}

@media (max-width: 991px) {
  .navbar .button-navbar {
    display: none;
  }
}
