.button {
  padding: 12px 30px;
  background: var(--primary);
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 0;
  transition: 0.2s;
  font-weight: 600;
}

.button:hover {
  background: #101010;
  color: var(--background);
  border-color: transparent;
}
