@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #ff7a42;
  --secondary: #ff5252;
  --background: #ffffff;
  --section-background: #ffedea;
  --text: #6a6a6a;
  --heading: #0a0a0a;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--heading);
}

h1 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--secondary);
}

p {
  margin: 5px 0 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

.the-title {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--primary);
}
.the-title span {
  height: 1px;
  width: 40px;
  background: var(--heading);
  display: inline-block;
  bottom: 5px;
  position: relative;
  margin-right: 12px;
}

@media (max-width: 360px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    line-height: 45px;
    font-size: 38px;
  }
}
